<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dodam.mapper.boardMapper">
  
<!--   전체글 -->
  	<select id="selectAllBoard" resultType="com.dodam.domain.qna.QnaVo">
  		select * from qna order by no desc
  	</select>
  	
<!--   	글등록 -->
  	<insert id="createBoard">
  		insert into qna(title, writer, contents) 
  			values(#{title}, #{writer}, #{contents})
  	</insert>
  	
<!--   	번호로 글검색 -->
  	<select id="selectBoard" resultType="com.dodam.domain.qna.QnaVo">
  		select * from qna where no = #{no}
  	</select>
  	
  	
  </mapper>