<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dodam.mapper.proudBoardMapper">
  
  	<select id="selectAllBoard" resultType="com.dodam.domain.proud.ProudVo">
  		select * from proudboard order by no desc limit #{startNum},#{postPerPage}
  	</select>
  	
  	<select id="selectTitleBoard" resultType="com.dodam.domain.proud.ProudVo" parameterType="map">
		SELECT * FROM proudboard where title like CONCAT('%', #{word} ,'%') or content like CONCAT('%', #{word} ,'%') order by no desc limit #{pi.startNum},#{pi.postPerPage}
  	</select>
  	
  	<select id="selectWriterBoard" resultType="com.dodam.domain.proud.ProudVo" parameterType="map">
		SELECT * FROM proudboard where writer like CONCAT('%', #{word} ,'%') order by no desc limit #{pi.startNum},#{pi.postPerPage}
  	</select>
  	
  	<select id="selectReplyBoard" resultType="com.dodam.domain.proud.ProudVo" parameterType="map" >
		select a.* from proudboard a inner join proudreply b on a.no = b.bno where b.contents like CONCAT('%', #{word} ,'%') order by no desc limit #{pi.startNum},#{pi.postPerPage}		
  	</select>
  	
  	<select id="getTotalPostCnt" resultType="int">
			select count(*) from proudboard
  	</select>
  	
  	<select id="selectBoard" resultType="com.dodam.domain.proud.ProudVo">
			select * from proudboard where no = #{no}
  	</select>
  	
  	<insert id="createBoardWithImage">
  		insert into proudboard(title, writer, content, image, thumbimage)
  		 values(#{title}, #{writer}, #{content}, #{image}, #{thumbimage} )
  	</insert>
  	
  	<insert id="createBoardWithNoImage">
  		insert into proudboard(title, writer, content, noimage)
  		 values(#{title}, #{writer}, #{content}, #{noimage})
  	</insert>
  	
  	<insert id="createBoard">
  		insert into proudboard(title, writer, content, image)
  		 values(#{title}, #{writer}, #{content}, #{image})
  	</insert>
  	
	<insert id="addpoint">
		insert into mypoint(userid, howmuch, why) values (#{userid}, #{howmuch}, #{why})
	</insert>
  	
  	<update id="updateBoard">
  		update proudboard set title = #{title}, content = #{content}, image = #{image} where no = #{no}
  	</update>
  	
  	<update id="readcount">
  		update proudboard set readcount = readcount + 1 where no = #{no}
  	</update>
  	
  	<delete id="deleteboard">
	 	delete from proudboard where no = #{no}
	 </delete>
	 
	 <insert id="like">
		insert into proudlikehistory values (#{userid}, #{no})
	</insert>
	
  	<delete id="dislike">
		delete from proudlikehistory where userid = #{userid} and no = #{no} 
	 </delete>
	 
	 <select id="likehistory" resultType="int" >
		select count(*) from proudlikehistory where userid = #{userid} and no = #{no};
	</select>
	
	<update id="likeup">
		update proudboard set likecount = likecount + 1 where no = #{no};
  	</update>
  	
  	<update id="likedown">
		update proudboard set likecount = likecount - 1 where no = #{no};
  	</update>
	
  </mapper>