<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dodam.mapper.MemberMapper">

	<insert id="insertMember">
		insert into members(userid, password, name, nickname, email, phone)
 			values(#{userid}, md5(#{password}), #{name}, #{nickname}, #{email}, #{phone})
	</insert>

	<select id="loginMember" resultType="com.dodam.domain.members.MemberVo">
		select * from members where userid = #{userid} and password = md5(#{password})
	</select>
	
	<select id="findMember" resultType="com.dodam.domain.members.MemberVo">
		select * from members where email = #{email}
	</select>
	
	<select id="countpoint" resultType="int">
		select count(*) from mypoint where userid = #{userid}
	</select>
	
	<select id="sumpoint" resultType="int">
		<!-- sum값이 null일때 예외발생해서 ifnull처리 해두었습니다 -->
		select ifnull(sum(howmuch), 0) from mypoint where userid = #{userid}
	</select>
	
	
	<select id="bookmarkcount" resultType="int">
		<!-- sum값이 null일때 예외발생해서 ifnull처리 해두었습니다 -->
		select count(*) from missingboardbookmark where userid=#{userid};
	</select>
	

    <update id="infoupdate">
  		update members set email = #{email} , phone = #{phone} , name = #{name} where userid = #{userid}
  	</update>
  	
  	<update id="passwordupdate">
  		update members set password = md5(#{password}) where userid = #{userid}
  	</update>
  	
  	<delete id="deleteAccount" >
	 	delete from members where userid = #{userid}
	 </delete>
	 
	<select id="pointlist" resultType="com.dodam.domain.members.MypointVo">
  		select * from mypoint where userid = #{userid}
  	</select>
  	
  	<select id="bookmark" resultType="com.dodam.domain.missing.MissingBoardVo">
  		SELECT * FROM missingboard a inner join missingboardbookmark b on a.no = b.no
		where b.userid = #{userid};
  	</select>

  	<select id="membergrade" resultType="com.dodam.domain.members.MemberGradeVo">
  		select * from membergrade
  	</select>
  	
  	<select id="grade" resultType="String">
  		select grade from membergrade where memberpoint = TRUNCATE(#{sumpoint}, -2)
  	</select>
  	
	<select id="countboard" resultType="int">
		select (
			(select count(*) from proudboard where writer = #{userid}) +
			(select count(*) from qna where writer = #{userid} ) +
			(SELECT count(*) FROM missingboard where writer = #{userid})
			);
	</select>
	
	<select id="countreplyer" resultType="int">
		select (
			(select count(*) from proudreply where replyer = #{userid}) +
			(SELECT count(*) FROM missingboardreply where replyer = #{userid}) 
			);
	</select>
	
	 <select id="boardhistory" resultType="com.dodam.domain.proud.ProudVo">
		SELECT title, writer, content, postdate FROM proudboard WHERE writer = #{userid}
		UNION 
		SELECT title, writer, contents, regdate FROM qna WHERE writer = #{userid} 
		UNION 
		SELECT title, writer, contents, registerdate FROM missingboard WHERE writer = #{userid}
		order by postdate desc
		
  	</select>
  	
  	 <select id="replyerhistory" resultType="com.dodam.domain.proud.ReplyVo">
  		SELECT replyer, contents, registerdate FROM proudreply WHERE replyer = #{userid}
		UNION 
		SELECT replyer, contents, lastmodifieddate FROM missingboardreply WHERE replyer = #{userid} 
		order by registerdate desc

  	</select>
  	
  	<update id="updateTmpPwd">
  		update members set password = md5(#{password}) where userid = #{userid}
  	</update>
  	
  	<select id="checkDupliactedId" resultType="com.dodam.domain.members.MemberVo">
		select * from members where userid = #{userid}
	</select>
	
</mapper>












