<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dodam.mappers.MissingReplyMapper">
  
  <insert id="insertReply">
  	insert into missingboardreply(pno, replyer, contents, issecret, pid) values (#{pno}, #{replyer}, #{contents}, #{issecret}, #{pid})
  </insert>
  
  <select id="selectAllReply" resultType="com.dodam.domain.missing.MissingReplyVo">
  	select * from missingboardreply where pno = #{pno} order by pid, reforder
  </select>
  
  <update id="deleteReply">
  	update missingboardreply set isdeleted = 'Y' where no = #{no}
  </update>
  
  <update id="updateReply">
  	update missingboardreply set contents = #{contents}, issecret = #{issecret}, lastmodifieddate = #{lastmodifieddate}, ismodified = 'Y' where no = #{no}
  </update>
    
  <select id="selectReply" resultType="com.dodam.domain.missing.MissingReplyVo">
    select * from missingboardreply where no = #{pid}
  </select>
   
  <select id="selectNo" resultType="int">
    SELECT ifnull(max(no)+1, 1) FROM missingboardreply;
  </select>
  
  <insert id="insertReReply">
  	insert into missingboardreply(pno, replyer, contents, pid, depth, reforder, issecret) 
	values(#{pno}, #{replyer}, #{contents}, #{pid}, #{depth}, #{reforder}, #{issecret})
  </insert>
  </mapper>