<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dodam.mapper.noticeMapper">

<!-- 새 공지글 작성 -->
<insert id = "insertNotice">
	insert into notice(title, writer, contents) values(#{title},#{writer},#{contents})
</insert>

	<select id="getTotalPostCnt" resultType="string">
  		select count(*) from notice
  	</select>

<!--  공지사항 전체글 가져오기 -->
<select id= "selectnoticeall" resultType ="com.dodam.domain.notice.NoticeVo">
	select * from notice order by no desc limit #{startNum}, #{postPerPage}
</select>

<!--  공지사항 글 자세히 가져오기 -->
<select id = "selectnotice" resultType="com.dodam.domain.notice.NoticeVo">
	select * from notice where no = #{no}
</select>

<!--  공지사항 글 수정하기 -->
<update id="updatenotice">
		update notice set title=  #{title}, writer = #{writer}, contents = #{contents} where no= #{no}
</update>

<!--  공지사항 글 삭제 -->
<delete id="delnotice">
delete  from notice where no=#{no}
</delete>

<!--  공지사항 10개 조회 쿼리문 -->

<select id="getBoardList" resultType="com.dodam.domain.notice.NoticeVo">

	select * FROM notice 
		order by no desc
			limit 0, 10
	
</select>
</mapper>