<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace ="com.dodam.mapper.proudReplyMapper">
 
	 <select id ="replyList" resultType = "com.dodam.domain.proud.ReplyVo">
	 	select * from proudreply where bno = #{bno} order by reforder asc
	 </select>
	 
	 <insert id="create">
	 	insert into proudreply(bno, contents, replyer,reforder) 
	 	value(#{bno}, #{contents}, #{replyer}, #{no} + 1)
	 </insert>
	 
	 <select id="maxreplyno" resultType = "int">
	 	SELECT MAX(no) FROM proudreply
	 </select>
	 
	 <insert id="append">
	 	insert into proudreply(bno, contents, replyer, ref, step, reforder)
		values (#{bno} , #{contents}, #{replyer}, #{no}, #{step} + 1, concat(#{reforder}, "," , #{no} + 1 ))
	 </insert>
	 
	 
	 <insert id="addpoint">
		insert into mypoint(userid, howmuch, why) values (#{userid}, #{howmuch}, #{why})
	</insert>
	 	 
  	 <update id="update">
  		update proudreply set contents = #{contents}, modifydate = CURRENT_TIMESTAMP where no = #{no}
  	 </update>
  	 
  	 <delete id="delete">
		delete from proudreply where reforder like concat("%", #{reforder}, "%");
	 </delete>
	 
	 <select id="replycount" resultType="int">
		select count(*) from proudreply where ref = #{no} and step = #{step} + 1;
  	</select>
  	
  	 <update id="updatereplycount">
		update proudboard set replycount = (select count(*) from proudreply where bno= #{bno}) where no = #{bno};
  	 </update>
 </mapper>