<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace ="com.dodam.mapper.proudReplyMapper">
 
	 <select id ="replyList" resultType = "com.dodam.domain.proud.ReplyVo">
	 	select * from proudreply where bno = #{bno} order by no asc;
	 </select>
	 
	 <insert id="create">
	 	insert into proudreply(bno, contents, replyer) 
	 	value(#{bno}, #{contents}, #{replyer})
	 </insert>
	 
	 <insert id="append">
	 	insert into proudreply(bno, contents, replyer) 
	 	value(#{bno}, #{contents}, #{replyer})
	 </insert>
	 	 
  	 <update id="update">
  		update proudreply set contents = #{contents}, modifydate = CURRENT_TIMESTAMP where no = #{no}
  	 </update>
  	 
  	 <delete id="delete">
	 	delete from proudreply where no = #{no}
	 </delete>
 </mapper>