<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dodam.mapper.proudBoardMapper">
  
  	<select id="selectAllBoard" resultType="com.dodam.domain.proud.ProudVo">
  		select * from proudboard order by no desc limit #{startNum},#{postPerPage}
  	</select>
  	
  	<select id="getTotalPostCnt" resultType="int">
			select count(*) from proudboard
  	</select>
  	
  	<select id="selectBoard" resultType="com.dodam.domain.proud.ProudVo">
			select * from proudboard where no = #{no}
  	</select>
  	
  		<insert id="createBoardWithImage">
  		insert into proudboard(title, writer, content, image, thumbimage)
  		 values(#{title}, #{writer}, #{content}, #{image}, #{thumbimage} )
  	</insert>
  	
  	<insert id="createBoardWithNoImage">
  		insert into proudboard(title, writer, content, noimage)
  		 values(#{title}, #{writer}, #{content}, #{noimage})
  	</insert>
  	
  	<insert id="createBoard">
  		insert into proudboard(title, writer, content)
  		 values(#{title}, #{writer}, #{content})
  	</insert>
  	
  	<update id="updateBoard">
  		update proudboard set title = #{title}, content = #{content} where no = #{no}
  	</update>
  	
  	<delete id="deleteboard">
	 	delete from proudboard where no = #{no}
	 </delete>
  </mapper>